config AMPOULE
    bool "Enables the ampoule library"
    default n
    select RING_BUFFER
    select AMPOULE_PROTOS

DT_CHOSEN_AMP_SERIAL := ampoule,transport-serial

config AMPOULE_TRANSPORT_SERIAL
	bool "Serial backend"
	default "$(dt_chosen_enabled,$(DT_CHOSEN_AMP_SERIAL))" if HAS_DTS
	default y if !HAS_DTS
	select SERIAL
	select RING_BUFFER
	help
	  Enable serial backend.
